* {
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
  font-family: sans-serif;
}
.App {
  background-color: white;
  height: 35rem;
  width: 40rem;
  margin: 0 auto;
}
.header {
  height: 15%;
  display: flex;
  align-items: center;
  padding: 2rem 2rem;
  border-bottom: solid lightgrey 1px;
  gap: 2rem;
  font-size: 1.5rem;
}
.logo {
  height: 3rem;
}
.main {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}
button {
  font-weight: bold;
  line-height: 100%;
  padding: 0;
  margin: 0;
}
.top button {
  font-size: 2rem;
  height: 2rem;
  background-color: white;
  border: 0;
}
.main > button {
  width: 5rem;
  height: 2rem;
  font-size: 1rem;
  border: 0;
}
.top p {
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  text-align: center;
  line-height: 5rem;
  margin-left: 2.7rem;
  margin-right: 2rem;
}
.blue-bgc {
  background-color: #5c47d3;
  color: white;
  border-radius: 10%;
}
.top {
  display: flex;
  align-items: center;
}
.footer {
  background-color: white;
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 5rem;
}
span {
  font-weight: bold;
}
